
html, body {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("table.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;

}

h2 {
    margin-top: 150px;
    color: #fff;
   
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
}

.card-container {
    display: flex;
    margin-top: 100px;

    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 600px;
}

.card-img {
    width:90px;
    height: auto;
}

textarea {
    margin-top: 20px;
    font-size: 16px;
    width: 30%;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #383838;
    color: #fff;
}


#gameOutput {
    resize: none;
}


button:hover {
    background-color: #027925;
}

p {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

